<ion-content>
  <div class="bg-surface w-full h-[100vh] p-4 flex flex-col font-sans">
    <ion-img
      src="assets/img/illustration.png"
      class="h-[55%] object-cover"
    ></ion-img>
    <div
      class="relative w-full flex-1 bg-neutral-100 rounded-xl py-5 px-4 shadow-lg"
    >
      <h4
        class="w-[65%] mx-auto capitalize text-primary-200 text-2xl text-center font-semibold"
      >
        Shop your green oasis online
      </h4>
      <p class="text text-neutral-300 text-center mt-4 leading-tight">
        Unlock the secrets to successull plant core with our expert tips and
        guidance. Learn how to nurture and help your plants thrive
      </p>
      <div class="mt-4 w-fit mx-auto flex space-x-2 relative">
        <div class="relative w-[10px] h-[10px] rounded-full overflow-hidden">
          <input
            type="radio"
            class="peer absolute w-full h-full opacity-0"
            name="onboard"
            checked
          />
          <div
            class="w-full h-full bg-primary-100 peer-checked:bg-primary-300 transition"
          ></div>
        </div>
        <div class="relative w-[10px] h-[10px] rounded-full overflow-hidden">
          <input
            type="radio"
            class="peer absolute w-full h-full opacity-0"
            name="onboard"
          />
          <div
            class="w-full h-full bg-primary-100 peer-checked:bg-primary-300 transition"
          ></div>
        </div>
        <div class="relative w-[10px] h-[10px] rounded-full overflow-hidden">
          <input
            type="radio"
            class="peer absolute w-full h-full opacity-0"
            name="onboard"
          />
          <div
            class="w-full h-full bg-primary-100 peer-checked:bg-primary-300 transition"
          ></div>
        </div>
      </div>
      <div
        class="absolute bottom-0 left-0 right-0 px-4 pb-5 m-auto py-2 flex items-baseline justify-between"
      >
        <div class="flex-1 text-primary-300 hover:underline cursor-pointer">
          Skip
        </div>
        <button class="btn w-fit">Next</button>
      </div>
    </div>
  </div>
</ion-content>
