<ion-content>
  <div class="p-4 font-sans">
    <header class="flex justify-between items-baseline">
      <div class="text-2xl font-semibold text-primary-300">
        Plant<span class="text-primary-400">Pal</span>
      </div>
      <div
        class="w-12 grid place-items-center border border-neutral-300 aspect-square rounded-lg"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="text-neutral-300"
        >
          <path
            d="M12 5C10 5 6 6.2 6 11V15L4 17H9M12 5C16.8 5 18 9 18 11V15L20 17H15M12 5V3M9 17V18C9 19 9.6 21 12 21C14.4 21 15 19 15 18V17M9 17H15"
            stroke="currentColor"
            stroke-width="1.33333"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </header>
    <div
      class="w-full py-3 rounded-lg bg-neutral-200 justify-between mt-4 text-primary-300 flex items-center px-4"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20 20L15.95 15.95M15.95 15.95C16.6 15.3 17.1157 14.5282 17.4675 13.6789C17.8193 12.8296 18.0003 11.9193 18.0003 11C18.0003 10.0807 17.8193 9.1704 17.4675 8.32108C17.1157 7.47176 16.6 6.70004 15.95 6.05C15.2999 5.39996 14.5282 4.88431 13.6789 4.53251C12.8296 4.18071 11.9193 3.99964 11 3.99964C10.0807 3.99964 9.17039 4.18071 8.32107 4.53251C7.47175 4.88431 6.70003 5.39996 6.04999 6.05C4.73717 7.36282 3.99963 9.14339 3.99963 11C3.99963 12.8566 4.73717 14.6372 6.04999 15.95C7.36281 17.2628 9.14338 18.0004 11 18.0004C12.8566 18.0004 14.6372 17.2628 15.95 15.95Z"
          stroke="currentColor"
          stroke-width="1.33333"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <input
        type="text"
        placeholder="Search here"
        class="flex-1 appearance-none border-none bg-transparent ring-0 focus:ring-0 text-neutral-300 placeholder:text-neutral-300"
      />
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7 3H5C4.46957 3 3.96086 3.21071 3.58579 3.58579C3.21071 3.96086 3 4.46957 3 5V7M3 17V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21H7M17 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V17M21 7V5C21 4.46957 20.7893 3.96086 20.4142 3.58579C20.0391 3.21071 19.5304 3 19 3H17"
          stroke="currentColor"
          stroke-width="1.33333"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="justify-between flex space-x-4 mt-4">
      <div class="flex-1 flex flex-col items-center">
        <div
          class="w-12 h-12 rounded-lg flex flex-col space-y-2 bg-primary-100"
        ></div>
        <div class="text-primary-200 text-xs text-center mt-1">
          Category name
        </div>
      </div>
      <div class="flex-1 flex flex-col items-center">
        <div
          class="w-12 h-12 rounded-lg flex flex-col space-y-2 bg-primary-100"
        ></div>
        <div class="text-primary-200 text-xs text-center mt-1">
          Category name
        </div>
      </div>
      <div class="flex-1 flex flex-col items-center">
        <div
          class="w-12 h-12 rounded-lg flex flex-col space-y-2 bg-primary-100"
        ></div>
        <div class="text-primary-200 text-xs text-center mt-1">
          Category name
        </div>
      </div>
      <div class="flex-1 flex flex-col items-center">
        <div
          class="w-12 h-12 rounded-lg flex flex-col space-y-2 bg-primary-100"
        ></div>
        <div class="text-primary-200 text-xs text-center mt-1">
          Category name
        </div>
      </div>
      <div class="flex-1 flex flex-col items-center">
        <div
          class="w-12 h-12 rounded-lg flex flex-col space-y-2 bg-primary-100"
        ></div>
        <div class="text-primary-200 text-xs text-center mt-1">
          Category name
        </div>
      </div>
    </div>
    <!-- Promotion Section-->
    <div class="mt-4 rounded-lg bg-primary-100 py-4 px-4">
      <div class="">
        <div class="text-primary-300 text-3xl font-semibold w-[50%] mb-3">
          Perfect <span class="text-primary-200">House Plants</span>
        </div>
        <p class="text-neutral-300 mb-5">Best For Indoor Decoration</p>
        <button class="btn">Buy Now</button>
      </div>
    </div>
    <div class="mt-4 w-fit mx-auto flex space-x-2 relative">
      <div class="relative w-[10px] h-[10px] rounded-full overflow-hidden">
        <input
          type="radio"
          class="peer absolute w-full h-full opacity-0"
          name="onboard"
          checked
        />
        <div
          class="w-full h-full bg-primary-100 peer-checked:bg-primary-300 transition"
        ></div>
      </div>
      <div class="relative w-[10px] h-[10px] rounded-full overflow-hidden">
        <input
          type="radio"
          class="peer absolute w-full h-full opacity-0"
          name="onboard"
        />
        <div
          class="w-full h-full bg-primary-100 peer-checked:bg-primary-300 transition"
        ></div>
      </div>
      <div class="relative w-[10px] h-[10px] rounded-full overflow-hidden">
        <input
          type="radio"
          class="peer absolute w-full h-full opacity-0"
          name="onboard"
        />
        <div
          class="w-full h-full bg-primary-100 peer-checked:bg-primary-300 transition"
        ></div>
      </div>
    </div>
    <!-- End Promotion Section-->

    <!-- Recommandation Section-->
    <div class="mt-4">
      <div class="flex justify-between mb-4">
        <div class="text-md text-primary-200">Top Recommendations</div>
        <div class="text-primary-300 hover:underline cursor-pointer">
          See All
        </div>
      </div>
      <div class="grid grid-cols-2 gap-1 items-stretch">
        <div>
          <div class="w-full rounded-lg aspect-square bg-primary-100"></div>
          <div class="text-primary-200 font-semibold mt-1">Aloe Vera</div>
          <div class="text-primary-200">(Aloe barbadensis)</div>
          <div class="flex gap-1 items-center">
            <span class="block w-1 h-1 rounded-full bg-primary-300"></span>
            <span class="text-neutral-300 text-sm">Easy care</span>
          </div>
          <div class="font-bold text-primary-300 text-2xl">15.000 XAF</div>
        </div>
        <div>
          <div class="w-full rounded-lg aspect-square bg-primary-100"></div>
          <div class="text-primary-200 font-semibold mt-1">Aloe Vera</div>
          <div class="text-primary-200">(Aloe barbadensis)</div>
          <div class="flex gap-1 items-center">
            <span class="block w-1 h-1 rounded-full bg-primary-300"></span>
            <span class="text-neutral-300 text-sm">Easy care</span>
          </div>
          <div class="font-bold text-primary-300 text-2xl">15.000 XAF</div>
        </div>
        <div>
          <div class="w-full rounded-lg aspect-square bg-primary-100"></div>
          <div class="text-primary-200 font-semibold mt-1">Aloe Vera</div>
          <div class="text-primary-200">(Aloe barbadensis)</div>
          <div class="flex gap-1 items-center">
            <span class="block w-1 h-1 rounded-full bg-primary-300"></span>
            <span class="text-neutral-300 text-sm">Easy care</span>
          </div>
          <div class="font-bold text-primary-300 text-2xl">15.000 XAF</div>
        </div>
        <div>
          <div class="w-full rounded-lg aspect-square bg-primary-100"></div>
          <div class="text-primary-200 font-semibold mt-1">Aloe Vera</div>
          <div class="text-primary-200">(Aloe barbadensis)</div>
          <div class="flex gap-1 items-center">
            <span class="block w-1 h-1 rounded-full bg-primary-300"></span>
            <span class="text-neutral-300 text-sm">Easy care</span>
          </div>
          <div class="font-bold text-primary-300 text-2xl">15.000 XAF</div>
        </div>
      </div>
    </div>
    <!-- End Recommandation Section-->
  </div>
</ion-content>
